body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: maroon;
    color: #fff;
    padding: 50px;
}

.logo img {
    max-width: 200px;
    max-height: 200px;


}

h1 {
    margin: 0;
    color: black;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: space-around;
}

li {
    display: inline-block;
    margin-right: 10px;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-info img {
    max-width: 100%;
    height: auto;
}

.image-info p {
    text-align: center;
    color: black;
}